
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #555855;
            color: white;
            padding: 10px;
            text-align: center;
        }

        nav {
            background-color: #333;
            color: white;
            padding: 10px;
            display: flex;
            justify-content: space-around;
        }
        
        nav a {
            color: white;
            text-decoration: none;
            padding: 10px;
        }

        nav a:hover {
            background-color: #575757;
        }

        main {
            display: flex;
            margin: 20px;
        }

        .sidebar {
            width: 25%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        .content {
            width: 75%;
            background-color: #ffffff;
            padding: 20px;
            border-left: 2px solid #f1f1f1;
        }

        footer {
            background-color: #282928;
            color: white;
            text-align: center;
            padding: 10px;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            main {
                flex-direction: column;
            }
            .sidebar, .content {
                width: 100%;
            }
        }
    